/* VARIABLES */
/* reset browser styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*        HTML5 display-role reset for older browsers         */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

@media (max-width: 959px) {
  nav {
    display: inline-block; } }

html,
body {
  width: 100%; }

p {
  margin: 0;
  padding: 0; }

ul,
li {
  margin: 0;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: inherit; }

html {
  font-size: 62.5%;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ddd; }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar {
  width: .6rem;
  height: .6rem; }

::-webkit-scrollbar-thumb {
  background: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.sidebar {
  background-color: rgba(19, 22, 40, 0.95);
  position: relative;
  width: auto;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }
  @media (min-width: 960px) {
    .sidebar {
      float: left;
      position: fixed;
      overflow: hidden;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      width: 20%;
      display: block;
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px; } }
  .sidebar_box {
    padding: .6rem 1rem;
    background: #101022;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
    @media (max-width: 959px) {
      .sidebar_box {
        display: inline-block;
        padding: 14px 14px;
        position: relative;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased; } }
  .sidebar__icon {
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    margin-right: .3rem; }
    @media (max-width: 959px) {
      .sidebar__icon {
        margin: 0;
        padding: 0; } }
    .sidebar__icon--red {
      background-color: #ff594f; }
    .sidebar__icon--green {
      background-color: #00cd46; }
    .sidebar__icon--yellow {
      background-color: #ffbc1b; }

.github-app {
  max-width: 960px;
  min-width: 340px;
  margin: 0 auto;
  width: 45%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 2px 0px 10px #333;
  -moz-box-shadow: 2px 0px 10px #333;
  box-shadow: 2px 0px 10px #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
