/* VARIABLES */
/* reset browser styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*        HTML5 display-role reset for older browsers         */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block; }

html,
body {
  width: 100%; }

p {
  margin: 0;
  padding: 0; }

ul,
li {
  margin: 0;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: inherit; }

html {
  font-size: 62.5%; }

body {
  background: url(../../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  color: #ddd; }

::-webkit-scrollbar-track {
  background: none; }

::-webkit-scrollbar {
  width: .6rem;
  height: .6rem; }

::-webkit-scrollbar-thumb {
  background: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.sidebar {
  background-color: rgba(19, 22, 40, 0.95);
  border-radius: .3rem 0 0 .3rem;
  -webkit-box-flex: 0;
  flex: 0 0 18%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .sidebar__box {
    display: flex;
    align-self: stretch;
    -webkit-box-align: center;
    align-items: center;
    padding: .9rem .9rem;
    background: #101022;
    border-radius: .3rem 0 0 0; }
  .sidebar__icon {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    margin-right: .5rem; }
    .sidebar__icon--red {
      background-color: #ff594f; }
    .sidebar__icon--green {
      background-color: #00cd46; }
    .sidebar__icon--yellow {
      background-color: #ffbc1b; }

.sidebar-nav {
  -webkit-font-smoothing: antialiased;
  border-radius: 0 0 0 .3rem; }
  .sidebar-nav__list {
    list-style: none; }
  .sidebar-nav__link {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sidebar-nav__icon {
    line-height: 0;
    position: relative;
    margin-right: .6rem;
    width: 1.3rem;
    height: 1.3rem; }
    .sidebar-nav__icon--all {
      background: url(../../images/icon-github.svg) no-repeat;
      background-size: cover; }
    .sidebar-nav__icon--open {
      background: url(../../images/icon-open-issue.svg) no-repeat;
      background-size: cover; }
    .sidebar-nav__icon--close {
      background: url(../../images/icon-closed-issue.svg) no-repeat;
      background-size: cover; }
  .sidebar-nav__number {
    display: inline-block;
    position: relative;
    top: .6rem;
    margin-right: 0px; }
    @media (max-width: 959px) {
      .sidebar-nav__number {
        margin-left: .6rem; } }

.github-app {
  max-width: 60rem;
  min-width: 21rem;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  background-color: white;
  -webkit-box-shadow: 0.1rem 0 0.6rem #333;
  -moz-box-shadow: 0.1rem 0 0.6rem #333;
  box-shadow: 0.1rem 0 0.6rem #333;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  display: flex; }
