/* VARIABLES */

// colors

$color-white: #fff;
$color-black: #000;
$color-gray: #ddd;
$color-gray-text: #333;
$color-blue: #03C;
$color-red: red;
$color-dark-yellow: #ffbc1b;
$color-light-red:#ff594f;
$color-light-green: #00cd46;
$color-dark-blue: #292a48;
$color-dark-gray: #e0e0e0;
$color-dark-text: #070707;

// backgrounds
$bg-white: #fff;
$bg-black: #000;
$bg-light-gray: #f6f6f6;

$bg-sidebar: #131628;
$bg-sidebar-buttons: #101022;
$bg-star-stroke: #eaeaea;